<?php
// Not committed. Provide admin settings here. Example:
// return [
//   'adminEmail' => 'catchmeifyoucan007@duck.com',
//   'adminSecret' => 'CHANGE_THIS_SECRET',
//   'mailFrom' => 'no-reply@yourdomain.com'
// ];
return [
  'adminEmail' => 'catchmeifyoucan007@duck.com',
  'adminSecret' => 'CHANGE_THIS_SECRET',
  'mailFrom' => 'no-reply@hangarplanner.local'
];

